version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/provider"
    schedule:
      interval: "weekly"
      time: "08:00"
      day: "sunday"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      internal-deps:
        patterns:
          - "^github.com/stackitcloud/"
      external-deps:
        patterns:
          - ".*"
        exclude-patterns:
          # should be covered by listing internal-deps first (https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference#groups--)
          # but listing it here to be explicit
          - "^github.com/stackitcloud/"
        cooldown:
          default-days: 7
  - package-ecosystem: "gomod"
    directory: "/sdk"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "08:00"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      internal-deps:
        patterns:
          - "^github.com/stackitcloud/"
      external-deps:
        patterns:
          - ".*"
        exclude-patterns:
          # should be covered by listing internal-deps first (https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference#groups--)
          # but listing it here to be explicit
          - "^github.com/stackitcloud/"
        cooldown:
          default-days: 7
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "08:00"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "docker"
    directory: "/.devcontainer"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"