name: CI Workflow

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  GO_VERSION: "1.23"

jobs:
  main:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      
      - name: Build sdks
        run: make build
      
      - name: Lint
        run: make lint_provider

  config:
    name: Check GoReleaser config
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: check