name: CI Workflow

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

env:
  GO_VERSION: "1.24"
  DOTNET_VERSION: 9.0.x
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_VERSION: 20.x
  PYTHON_VERSION: "3.9"

jobs:
  main:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install Go Tools
        uses: ./.github/actions/gotools
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Pulumi Tools
        uses: ./.github/actions/pulumitools
      - name: Build sdks
        run: make generate_sdks
      - name: Lint provider
        run: make lint_provider
      - name: Execute tests
        run: make test

  config:
    name: Check GoReleaser config
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Check GoReleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          args: check